# Test scripts
bin/*.sh

# DB copie
data/

# Binaries for programs and plugins
*.exe*
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*profile*

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work*

# Python & env file
.*env**
uv.lock
*.toml
.py*
__pycache__/

# Editor/IDEi & OS
.idea/
.vscode/
.DS_Store
